* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 24px;
}

hr {
    
}

.avatar {
    width: 400px;
    height: auto;
}
